<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // function fun()
        // {
        //     console.log(helloooo)
        // }
        // fun()
        function sum(a,b,c)
        {
            // n1=a
            // n2=b
            total=a+b+c

            // console.log(n1+n2)
            return total
        }
        console.log(sum(5,6,7));
       d= sum(5,7,6)
       console.log(d)
        sum(1,2,3)
        // function num(n)
        // {
        //     n=prompt("enter the number")
        //     console.log(n)
        //     if(n%2==0)
        //     {
        //         console.log("even")
        //     }
        //     else
        //     {
        //         console.log("odd")
        //     }
        // }
        // num()
    </script>
</body>
</html>