<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="h">helloooo</h1>
    <p class="h">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, animi.</p>
    <p id="id1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut rerum placeat aperiam ducimus ut. Ratione corrupti numquam iste quia sapiente?</p><button onclick="btn()">submit</button>
    <script>
        // document.write("haiii")
        // h=document.getElementById("h")
        // console.log(h)
        // h.innerHTML="hello world"
        // p=document.getElementsByTagName("p")
        // console.log(p[0])
        // d=document.getElementsByClassName("h")
        // console.log(p)
        function btn()
        {h=document.getElementById("id1")
        h.innerHTML="login"
        h.align="center"
        h.style.color="blue"
        h.setAttribute('id',"name")
        }
    </script>
    <script>
        // var mark=[10,20,30,40]
        // var mark2=[34,56,74]
        // mark.push(50,60)
        // mark.pop()
        // mark.pop()
       
        // mark.shift()
        // mark.unshift(75)
        // mark[1]=23
        // var total=mark.concat(mark2)
        // mark.splice(0,1,"haiii")
        // var mark2=mark.slice(1,3)
        // console.log(mark2)
        // console.log(total)
        // for(var item of mark)
        // {
        //     console.log(item)
        // }
        // console.log(mark[1])
        // for(var i=0;i<mark.length;i++)
        // console.log(mark.length)
        // console.log(mark[i])
    //     var a=[2,3,4,6,5,7,8,12,35,79]
    //     console.log(a)
    //     var even=[]
    //     var odd=[]
    //     for(i=0;i<a.length;i++)
    //     {
    //         if(a[i]%2==0)
    //         {
    //             even.push(a[i])
             
    //     }
    // }
    //     for(j=0;j<a.length;j++)
    //     {
    //         if(a[j]%2!=0)
    //         {
    //             odd.push(a[j])
    //         }
    //     }
    //     console.log(even)
    //     console.log(odd)
    // price=[10,20,30,40,50]
    // console.log(price)
    // sum=0
    // console.log(price[1])
    // len=price.length
    // console.log(len)
    // for(i=0;i<len;i++)
    // {
    //     sum=sum+price[i]
        // console.log(price[i])
    // }
    //  console.log(sum)


    //    number=[1,2,34,54,67,5,6,7,8,10]
    //    console.log(number)
    //    len=number.length
    //    for(i=0;i<len;i++)
    //    {
    //     if(number[i]%2==0)
    //     {
    //         console.log(number[i])
    //     }
    //    }
    // number.push(3)
    // console.log(number)
    // number.pop()
    // console.log(number)
    // number.reverse()
    // console.log(number)
    // number.sort()
    // console.log(number)
    // a=10
    // a.toString()
    // console.log(a)
    // number.shift()
    // console.log(number)
    // console.log(number.shift())


    // vehicle=['bus','car','bike','scooti','cycle']
    // for(item of vehicle)
    // {
    //     console.log(item)
    // }
    // details={
    //     'name': 'anu',
    //     'age': 24,
    //     'place': 'calicut',
    //     'skill': ['html','css','javascript','python'],

    // }
    // console.log(details)
    // console.log(details['skill'][0])
    // for(item in details)
    // {
    //     console.log(item,'is ',details[item])
    // }
    // n1=5 
    // {
    //     let n2=10
    // }
    // n2=30

    // let n2=10
    // n2=20
    // console.log(n2)
    // function num()
    // {
    //    var n3=4
    //    console.log(n1)
    //    console.log(n2)
    //    console.log(n3)
    // }
    // num()
    
    
    // console.log(n3)
    // const a=10
    // console.log(a)
    // a=15
    // console.log(a)
     </script>
</body>
</html>
