<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var rem,rev
        var a=prompt("enter the number")
        console.log(a)
        rev=0
        while(a!=0)
        {
            rem=parseInt(a%10)
            rev=parseInt(rev*10)+parseInt(rem)
            a=parseInt(a/10)
        }
        console.log("Reverse of the number is",rev)
    </script>
</body>
</html>