{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
     /* #heading{
        font-size: medium;
        background-color: brown;
        color: blueviolet;
     }
     #div1{
        font-size: medium;
        background-color: brown;
        color: blueviolet;
     } */
    /* .cart{
        font-size: medium;
        background-color: brown;
        color: blueviolet;
    } */
    </style>
</head>
<body>
   <!-- <h1 id="heading" class="cart">helloooo</h1>
   <div id="div1" class="cart">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex doloremque non nesciunt fugit unde corporis fuga? Mollitia dolore minima id libero. Expedita culpa dicta autem, veniam exercitationem voluptatum dolor!</div>
   <div class="div1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae maiores iusto, architecto, animi eos expedita, quos voluptatem dolorem consectetur dolores sint culpa enim quia perferendis? Non molestiae aliquam provident minus.</div>
   <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis quas, quidem eveniet non illum dolorum laborum nisi sequi dolorem repellat, id placeat nobis delectus ea! Exercitationem magnam sed quibusdam quae!</span>
   <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus voluptatem ipsa placeat! Itaque, voluptatum incidunt consequuntur provident, dolorem soluta reiciendis, necessitatibus accusamus harum maxime adipisci at minima id explicabo!</span>
    -->
    <span>welcome</span>
    <div>
        <span>haiiiiiiii</span>
    </div>
    
</body>
</html>