{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/flex.css' %}">
</head>
<body>
    <div class="parent">
      <!-- <div class="flex-container"> -->
        <div id="f1"></div>
        <div id="f2"></div>
        <div id="f3"></div>
        <div id="f4"></div>
        <div id="f5"></div>
        <div id="f6"></div>
        <div id="f7"></div>
        <!-- <div id="f4">4</div> -->
      <!-- </div> -->
    </div>
</body>
</html>