{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
  <!-- <img src="{% static 'images/download.jpg' %}" height="100px" alt="img1">  
  <img src="{% static 'images/image1.jpg' %}" height="100px" alt="img2">
  <img src="{% static 'images/image2.jpg' %}" width="500px" height="500px" alt="img3">
  <a href="facebook.com">hellloooooooooo</a>
  <a href="youtube.com">haiiiiiiii</a> -->
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, non.</span>
  <div style="color:blueviolet; background-color: crimson;">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde omnis iure, minus consectetur deleniti voluptate id eos culpa labore iste quae saepe! Eius reprehenderit nulla excepturi natus nostrum quae repudiandae.
    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ab ea dignissimos praesentium aspernatur eius rerum libero vitae eum, officiis consequuntur, nesciunt assumenda fugit impedit, culpa doloribus quo incidunt. Ullam?</span>
  </div>
</body>
</html>