.parent{
    border: 3px black dotted;
    height: 300px;
    width: 25%;
    background-color: blueviolet;
    margin: auto;
    margin-top: 100px ;
    position: relative;
}
.box1{
    border: 1px rgb(150, 12, 19) dotted;
    padding: 20px;
    margin: 30px;
    background-color: brown;
}
.box2{
    border: 1px rgb(150, 12, 19) dotted;
    padding: 20px;
    margin: 30px; 
    background-color: cadetblue;
    /* position: relative;
    left: 200px;
    top: 100px; */
    position: absolute;
    top: 0px;
    left: 0px;
}
.box3{
    border: 1px rgb(150, 12, 19) dotted;
    padding: 20px;
    margin: 30px;
    background-color: crimson;

}